rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función helper para verificar si el usuario logueado es administrador
    function isAdmin() {
      return request.auth != null && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // Reglas para usuarios (cada usuario puede leer todos, pero solo escribir el propio, si es admin global, o si un admin de grupo modifica el campo groupIds)
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
        request.auth.uid == userId || 
        isAdmin() ||
        (resource != null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['groupIds']))
      );
    }
    
    // Reglas para partidos (cualquier usuario logueado puede leerlos, solo admins pueden modificarlos)
    match /matches/{matchId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
    
    // Reglas para predicciones (el dueño puede leer y escribir, admins también pueden escribir y actualizar puntos)
    match /predictions/{predictionId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.resource.data.userId == request.auth.uid || isAdmin());
    }

    // Reglas para grupos (cualquier persona puede leerlos, crear requiere auth, modificar requiere ser superadmin o admin del grupo, eliminar requiere ser superadmin)
    match /groups/{groupId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && (
        isAdmin() || 
        (resource != null && request.auth.uid in resource.data.admins)
      );
      allow delete: if isAdmin();
    }
  }
}
